@charset "utf-8";

@import 'hero.scss';

.about {
  background-color: $navyBlue;
  text-align: center;
  padding: vh(608, 63) 0 vh(608, 44);
}

.about_title {
  color: $white;
}

.about_text-box {}

.about_text-box-inner {
  width: vw(1280, 555);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;


  :nth-child(1),
  :nth-child(3) {
    width: 14.4rem;
  }

  :nth-child(2) {
    width: 18rem;
  }
}

.about_text-text {
  color: $white;
  margin-top: 6.3rem;
}

.about_white-text-box-wrapper {
  background-color: $white;
  width: vw(1280, 868);
  padding: 1.6rem;
  margin-top: 8.3rem;
}

.about_white-text-box {
  background-color: $white;
  width: vw(1280, 868);
  border: 5px solid $navyBlue;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem 0;
}

.about_white-text-title {
  color: $navyBlue;
}

.about_white-text-text {
  color: $navyBlue;
  margin-top: 3.5rem;
}
