@charset "utf-8";

@import 'style.scss';

.contact {
  text-align: center;
}

.contact_bg-img {
  background-image: url(../img/cta.jpg);
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_text-box {}

.contact_text-title {}

.contact_circle-request-btn {
  height: 5rem;
  width: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    font-weight: bold;
  }
}

.contact_circle-request-btn-text {}

.contact_contact-link-text {}

.contact_tel-contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.contact_tel-contact-title {
  font-weight: bold;
}

.contact_tel-contact-number {
}

.contact_tel-contact-hour {}
