@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.4;
}

h3 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.7;
}

h4 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.7;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.7;
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.smallDone {
  display: block;
}

@media screen and (min-width: 1280px) {
  .smallDone {
    display: none;
  }
}

.smallNone {
  display: none;
}

@media screen and (min-width: 1280px) {
  .smallNone {
    display: block;
  }
}

.container {
  margin: 0 auto;
  width: 70.3125vw;
  max-width: 1600px;
}

.example {
  background-color: #1B224C;
  height: auto;
  padding: 9.53947vh 0;
}

.example_title {
  text-align: center;
}

.example_card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example_card-list {
  width: calc(96% / 3);
  text-align: center;
}

.example_card-item-title {
  font-weight: bold;
  line-height: 1.8;
}

.example_card-item-img {
  width: 100%;
  background-color: #FFFFFF;
}

.example_card-item-text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.example_card-item-profession {
  width: calc(96% / 2);
  background-color: #FFFFFF;
  line-height: 1.8;
}

.example_card-item-name {
  width: calc(96% / 2);
  background-color: #FFFFFF;
}

.example_card-item-period {
  background-color: #FFFFFF;
  margin-top: 1rem;
}
/*# sourceMappingURL=example.css.map */