@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.4;
}

h3 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.7;
}

h4 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.7;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.7;
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 375px) {
  .container {
    width: 70.3125vw;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8rem;
  width: 100vw;
  background-color: pink;
}

.logo a img {
  width: 13.6rem;
  height: 2.7rem;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.ham {
  display: none;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-btn {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7;
}

.square-request-btn {
  background-color: #F5A623;
}

.contact-btn {
  background-color: #1B224C;
}

.hero {
  text-align: center;
}

.hero_bg-img {
  background-image: url(../img/fv.jpg);
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-request-btn {
  background-color: #F5A623;
}

.about {
  background-color: #1B224C;
  text-align: center;
  padding: 10.36184vh 0 7.23684vh;
}

.about_text-box-inner {
  width: 43.35938vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.about_text-box-inner :nth-child(1),
.about_text-box-inner :nth-child(3) {
  width: 14.4rem;
}

.about_text-box-inner :nth-child(2) {
  width: 18rem;
}

.about_white-text-box {
  background-color: #fff;
}

.feature {
  padding: 9.86842vh 0 8.22368vh;
}

.feature_container :nth-child(2),
.feature_container :nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature_title {
  text-align: center;
}

.feature_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature_box-img img {
  width: 27.34375vw;
}

.feature_box-text-box {
  margin-right: auto;
}

.feature_img-box {
  background-image: url(../img/price.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 6rem 0 5.3rem;
}

.feature_img-box-link {
  margin-top: 2.7rem;
}

.example {
  background-color: #1B224C;
  height: auto;
  padding: 9.53947vh 0;
}

.example_title {
  text-align: center;
}

.example_card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example_card-list {
  width: calc(96% / 3);
  text-align: center;
}

.example_card-item-img {
  width: 100%;
  background-color: #fff;
}

.example_card-item-text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.example_card-item-profession {
  width: calc(96% / 2);
  background-color: #fff;
}

.example_card-item-name {
  width: calc(96% / 2);
  background-color: #fff;
}

.example_card-item-period {
  background-color: #fff;
  margin-top: 1rem;
}

.flow {
  padding-top: 13.64706vh;
}

.flow_list {
  background-color: #F8F8F8;
}

.flow_list-item-number-box {
  display: inline-block;
  background-color: #F5A623;
  width: 6.4rem;
  height: 6.4rem;
}

.flow_list-item-number {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow_list-item-text-box {
  display: inline-block;
}

.flow_list-item-title {
  display: inline-block;
  border-right: 1px solid #C3C3C3;
}

.flow_list-item-text {
  display: inline-block;
}

.faq {
  padding-top: 14.73477vh;
}

.faq_accordion-container {
  width: 30rem;
}

.faq_accordion-title {
  position: relative;
}

.faq_accordion-title::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.5rem;
  width: 1.5rem;
  height: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.faq_accordion-title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2.5rem;
  width: 1.5rem;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.faq_accordion-title.open::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq_accordion-title.open::after {
  opacity: 0;
}
/*# sourceMappingURL=faq.css.map */