@charset "utf-8";

@import 'style.scss';

.faq {
  padding-top: vh(509, 75);
}

.faq_title {
  text-align: center;
}

.faq_accordion-container {
}

.faq_accordion-title {
  position: relative;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 0 5rem 0 0;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 2.5rem;
    width: 1.5rem;
    height: 2px;
    transform: rotate(90deg);
    background-color: #000;
    transition: all .3s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2.5rem;
    width: 1.5rem;
    height: 2px;
    background-color: #000;
    transition: all 0s ease-in-out;
  }
}

.faq_accordion-title.open {
  &::before {
    transform: rotate(180deg);
  }

  &::after {
    opacity: 0;
  }
}

.faq_accordion-toggle {}

.faq_accordion-content {
  background-color: $moreThinGray;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

hr {
  border-color: $navyBlue;
}
