@charset "utf-8";

@import 'style.scss';

.feature {
  padding: vh(608, 60) 0 vh(608, 50);
}

.feature_container {

  :nth-child(2),
  :nth-child(4) {
    flex-direction: row-reverse;
  }
}

.feature_title {
  text-align: center;
}

.feature_box {
  margin-top: 3rem;

  @include ipad {
    margin-top: 5rem;
  }

  @include spc {
    display: flex;
    margin-top: 6rem;
  }
}

.feature_box-img {
  img {
    width: 100%;

    @include spc {
      width: vw(1280, 350);
    }
  }
}

.feature_box-text-box {
  margin-right: auto;
}

.feature_box-text-box2 {

  @include spc {
    margin-left: 5rem;
  }
}

.feature_box-text-box-category {
  background-color: $yellowOrange;
  text-align: center;
  padding: .5rem 0;
  width: 6rem;
  margin-top: 1rem;

  @include spc {
    width: vw(1280, 90);
    margin-top: 0;
  }
}

.feature_box-text-box-category-text {
  color: $white;
}

.feature_box-text-box-title {
  margin-top: 1rem;

  @include spc {
    margin-top: 3.5rem;
  }
}

.feature_box-text-box-text {
  margin-top: 1rem;

  @include spc {
    margin-top: 4rem;
  }
}

.feature_img-box {
  background-image: url(../img/price.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 6rem 0 5.3rem;
}

.feature_img-box-title {}

.feature_img-box-link {
  margin-top: 2.7rem;
}

.feature_img-box-text {
  font-weight: bold;
}
