@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.4;
}

h2 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.4;
}

h3 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.7;
}

h4 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.7;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.7;
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.smallDone {
  display: block;
}

@media screen and (min-width: 768px) {
  .smallDone {
    display: none;
  }
}

.smallNone {
  display: none;
}

@media screen and (min-width: 768px) {
  .smallNone {
    display: block;
  }
}

.ipadDone {
  display: block;
}

@media screen and (min-width: 768px) {
  .ipadDone {
    display: none;
  }
}

.ipadNone {
  display: none;
}

@media screen and (min-width: 768px) {
  .ipadNone {
    display: block;
  }
}

.container {
  margin: 0 auto;
  width: 70.3125vw;
  max-width: 1600px;
}

.hero {
  text-align: center;
}

.hero_bg-img {
  background-image: url(../img/fv.jpg);
  content: '';
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .hero_bg-img {
    background-position: center center;
  }
}

.hero_text-box {
  width: 80%;
}

@media screen and (min-width: 1280px) {
  .hero_text-box {
    margin: 0;
  }
}

.hero_text-title {
  color: #FFFFFF;
  font-size: 4rem;
  line-height: 1.3;
}

@media screen and (min-width: 1280px) {
  .hero_text-title {
    line-height: 1.4;
  }
}

.hero_text-text {
  color: #FFFFFF;
  margin-top: 2rem;
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  .hero_text-text {
    margin-top: 2.5rem;
    line-height: 1.7;
  }
}

.circle-request-btn {
  font-weight: bold;
  line-height: 1.8;
  background-color: #F5A623;
  height: 4rem;
  width: 20rem;
  border-radius: 3.1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .circle-request-btn {
    height: 6rem;
    width: 26rem;
    margin-top: 5rem;
  }
}

.circle-request-btn a {
  display: block;
}

.contact-link-text {
  margin-top: 1.7rem;
}

@media screen and (min-width: 1280px) {
  .contact-link-text {
    margin-top: 2.2rem;
  }
}

.contact-link-text a {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
/*# sourceMappingURL=hero.css.map */