@charset "utf-8";

@import 'style.scss';

.hero {
  text-align: center;
}

.hero_bg-img {
  background-image: url(../img/fv.jpg);
  content: '';
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 47.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include spc {
    background-position: center center;
  }
}

.hero_text-box {
  width: 80%;

  @include spc {
    margin: 0;
  }
}

.hero_text-title {
  color: $white;
}

.hero_text-text {
  color: $white;
  margin-top: 2rem;

  @include spc {
    margin-top: 2.5rem;
  }
}

.circle-request-btn {
  font-weight: bold;
  line-height: 1.8;
  background-color: $yellowOrange;
  height: 4rem;
  width: 20rem;
  border-radius: 3.1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  color: $white;

  @include spc {
    height: 6rem;
    width: 26rem;
    margin-top: 5rem;
  }

  a {
    display: block;
  }
}

.contact-link-text {
  margin-top: 1.7rem;

  @include spc {
    margin-top: 2.2rem;
  }

  a {
    color: $white;
    border-bottom: 1px solid $white;
  }
}
