@charset "utf-8";

@import 'style.scss';

.header {
  display: flex;
  align-items: center;
  height: 5rem;
  position: fixed;
  background-color: $white;
  width: 100%;

  @include ipad {
    height: 8rem;
  }
}

.header_logo {
  margin: auto 0;
  margin-left: .5rem;

  @include ipad {
    margin-left: 1.5rem;
  }

  a {
    img {
      width: 10rem;
      height: auto;

      @include ipad {
        width: 13.6rem;
        height: 2.7rem;
      }
    }
  }
}

.header_nav {
  margin-left: auto;
  display: flex;
  align-items: center;

  @include spc {
    width: 100%;
  }
}

.header-sp-nav {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: $navyBlue;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}

.header-sp-nav.open {
  transform: translate(0);
}

.header-sp-menu {
  // padding-top: 5rem;

  @include ipad {
    // padding-top: 8rem;
  }
}

.header-sp-menu-list {
  margin: 5rem 4rem;

  a {
    color: $white;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.header_sp-btn-box {
  display: flex;
}

.header_sp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 4rem;
  background-color: $yellowOrange;
  margin-left: 2rem;

  @include spc {
    display: none;
  }
}

.ham {
  width: 4em;
  height: 4em;
  cursor: pointer;
  position: relative;
  z-index: 20;

  @include spc {
    display: none;
  }
}

.ham-line {
  position: absolute;
  left: 1em;
  width: 2em;
  height: 0.2em;
  background-color: $navyBlue;
  transition: all 0.3s;
}

.ham-line.open {
  background-color: $white;
}

.ham-line1 {
  top: 1em;
}

.ham-line1.open {
  transform: rotate(45deg);
  top: 2em;
}

.ham-line2 {
  top: 1.8em;
}

.ham-line2.open {
  width: 0;
}

.ham-line3 {
  top: 2.6em;
}

.ham-line3.open {
  transform: rotate(-45deg);
  top: 2em;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

.black-bg.open {
  opacity: .8;
  visibility: visible;
}

.header_list {

  @include spc {
    display: flex;
  }
}

.header_list-item {
  display: none;

  @include spc {
    display: block;
    margin-left: 2.8rem;
    font-weight: bold;
    line-height: 1.8;
  }

  a {
    color: $navyBlue;
  }
}

.header_right {
  display: none;
  margin-left: auto;

  @include spc {
    display: flex;
  }
}

.tel-box {

  @include spc {
    margin-right: 1.4rem;
  }
}

.tel-hour {
  color: $navyBlue;
}

.tel-number {

  a {
    color: $navyBlue;

    &::before {
      content: '';
      display: inline-block;
      background-image: url(../img/tel29.svg);
      background-repeat: no-repeat;
      background-position: center right;
      width: 3rem;
      height: 3rem;
      margin-right: .5rem;
      margin-bottom: .3rem;
      vertical-align: middle;
    }

    @include spc {
      font-weight: bold;
    }
  }
}

.header_pc-btn {
  display: none;

  @include spc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 5rem;
    margin-right: 1rem;
  }
}

.square-request-btn {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
  border-radius: .5rem;
  background-color: $yellowOrange;
  color: $white;
}

.contact-btn {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7;
  border-radius: .5rem;
  color: $white;

  @include spc {
    background-color: $navyBlue;
  }
}
