@charset 'utf-8';

@import '../share_css/style.scss';


.news_article-title {
  font-size: 2.4rem;
  line-height: 1.3;
  margin-top: 4rem;

  @include ipad {
    margin-top: 6rem;
    font-size: 2.8rem;
    line-height: 1.7;
  }
}

.news_article-date {
  margin-top: 1.7rem;
  text-align: right;

  @include ipad {
    margin-top: 3.5rem;
  }
}

.news_article-main-title {
  margin-top: 3rem;
  font-size: 2rem;

  @include ipad {
    margin-top: 6rem;
  }
}

.news_article-main-text {
  line-height: 1.5;
  margin-top: 3rem;
}

.news_article-sub-title {
  border-left: 4px solid $navyBlue;
  padding-left: 1.2rem;
  margin-top: 5rem;
  font-weight: bold;
  line-height: 1.5;
}

.news_article-sub-text {
  line-height: 1.5;
  margin-top: 3rem;
}

.news_article-quote {
  margin-top: 2rem;
  display: flex;
  background-color: $moreThinGray;
  padding: 1rem 0 2rem;

  @include ipad {
    margin-top: 3rem;
    padding: 2.7rem 0 4rem;
  }

  @include spc {
    margin-top: 5rem;
  }

  &::before {
    content: '';
    background-image: url(../../img/quote.svg);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 1rem;

    @include spc {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: -.7rem;
      margin-left: 2rem;
    }
  }
}

.news_article-quote-text-box {
  width: 90%;
}

.news_article-quote-text {
  line-height: 1.5;
}

.news_article-sub-img {
  margin-top: 3rem;

  img {
    max-width: 100%;
  }
}

.news_article-list-wrapper {
  margin-top: 3.5rem;
}

.news_article-list {
  position: relative;
  padding-left: 3.5rem;

  &::before {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    display: block;
    background-color: $yellowOrange;
    position: absolute;
    top: .6rem;
    left: 0;
  }
}

.news_article-list-text {
  line-height: 1.5;
}

.news_article-link {
  margin: 3.5rem 0 6rem;

  @include ipad {
    margin: 6.5rem 0;
  }

  a {
    text-decoration: underline;
    color: $yellowOrange;
    line-height: 1.5;
  }
}
