@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.is-fixed {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.4;
  }
}

h2 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 2.1rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h4 {
    font-size: 2.6rem;
  }
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h5 {
    line-height: 1.7;
  }
}

p,
.p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  p,
  .p {
    line-height: 1.7;
    font-size: 1.6rem;
  }
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
  color: #1B224C;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

ul {
  list-style: none;
}

.smallDone {
  display: block;
}

@media screen and (min-width: 1280px) {
  .smallDone {
    display: none;
  }
}

.smallNone {
  display: none;
}

@media screen and (min-width: 1280px) {
  .smallNone {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70.3125vw;
  }
}

.db {
  display: block;
}

.contact_main-container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .contact_main-container {
    width: 75%;
  }
}

.contact_main {
  margin-top: 6rem;
}

.companyname-label {
  margin-top: 4rem;
}

input::-webkit-input-placeholder {
  color: #B4B4B4;
}

input:-ms-input-placeholder {
  color: #B4B4B4;
}

input::-ms-input-placeholder {
  color: #B4B4B4;
}

input::placeholder {
  color: #B4B4B4;
}

.companyname-area {
  width: calc(100% - 4.8rem);
  padding: 2rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .companyname-area {
    width: 100%;
  }
}

.yourname-label {
  margin-top: 2rem;
}

.yourname-area {
  width: calc(100% - 4.8rem);
  padding: 2rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .yourname-area {
    width: 100%;
  }
}

.mail-label {
  margin-top: 2rem;
}

.mail-area {
  width: calc(100% - 4.8rem);
  padding: 2rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .mail-area {
    width: 100%;
  }
}

.brnone br {
  display: none;
}

.num-label {
  margin-top: 2rem;
}

.num-area {
  width: calc(100% - 4.8rem);
  padding: 2rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .num-area {
    width: 100%;
  }
}

.contact_form-type-text {
  margin-top: 2rem;
}

.contact_form-type-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.2rem;
}

.mwform-radio-field:not(:first-child) {
  margin-top: 2rem;
}

.mw_wp_form .horizontal-item.horizontal-item {
  margin-left: 0;
}

.mwform-radio-field-text {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-left: 2rem;
  vertical-align: middle;
}

input[type=radio] {
  width: 2rem;
  height: 2rem;
}

.business-wrapper {
  margin-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business-btn {
  margin-right: 1.9rem;
}

.type-btn-wrapper {
  margin-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.type-btn {
  margin-right: 1.9rem;
}

.document-btn-wrapper {
  margin-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.document-btn {
  margin-right: 1.9rem;
}

.other-btn-wrapper {
  margin-top: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.other-btn {
  margin-right: 1.9rem;
}

.content-text {
  margin-top: 2.4rem;
}

textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}

textarea:-ms-input-placeholder {
  color: #B4B4B4;
}

textarea::-ms-input-placeholder {
  color: #B4B4B4;
}

textarea::placeholder {
  color: #B4B4B4;
}

.content-area {
  width: calc(100% - 4.6rem);
  padding: 2rem;
  margin-top: 1.2rem;
}

@media screen and (min-width: 768px) {
  .content-area {
    width: 100%;
  }
}

.privacy-text {
  margin-top: 3.1rem;
  text-align: center;
}

.privacy-text a {
  color: #F5A623;
  text-decoration: underline;
}

.mwform-checkbox-field {
  text-align: center;
  margin-top: 3.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.privacy-agree {
  display: inline;
}

.submit-btn {
  margin: 4.6rem auto 8.2rem;
  padding: 1.6rem 6.8rem;
  background-color: #1B224C;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
/*# sourceMappingURL=contact_main.css.map */