@charset 'utf-8';

// @import '../share_css/reset.scss';
@import '../../style.scss';

.breadcrumbs-wrapper {
  background-color: $moreThinGray;
}

.breadcrumbs {
  height: 5rem;
  font-size: 1.2rem;
  line-height: 1.7;
  display: flex;
  align-items: center;

  a {
    margin-right: 1rem;
    text-decoration: underline;
    color: $navyBlue;
  }

  .current-item {
    margin-left: 1rem;
  }
}

.contact_detail_main {
  padding: 8.3rem 0 8rem;
  text-align: center;
}

.contact_detail_main-text {}

.contact_detail_main-home {
  margin-top: 8.3rem;

  a {
    text-decoration: underline;
    color: $navyBlue;
  }
}
