@charset "utf-8";

@import '../share_css/style.scss';

.price_main {
  padding-bottom: 6.2rem;
}

.price_system {
  text-align: center;
}

.price_system-title {
  margin-top: 5.8rem;
}

.price_system-content {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.price_system-box {
  width: 28rem;
  height: 9rem;
  background-color: $navyBlue;
  color: $white;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_system-plus-box {
  margin: 0 3.5rem;
  display: flex;
  align-items: center;
}

.price_system-plus {
  display: inline-block;
  vertical-align: middle;
  color: $navyBlue;
  line-height: 1;
  width: 2rem;
  height: 2px;
  background: $navyBlue;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(90deg);
  }
}

.price_system-text {
  text-align: left;
  margin-top: 4.6rem;
}

.price_title {
  margin-top: 9rem;
  text-align: center;
}

.nav-wrap {
  position: relative;
}

.scroll-nav {
  width: 100%;
  overflow-x: auto;
}

.price_cards {
  max-width: 1280px;
  min-width: 770px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  // margin-top: 3rem;
  margin-top: 13rem;

  :last-child {
    padding-right: 0;
  }

  @include ipad {
  }
}

.price_card {
  text-align: center;
  // width: 100%;
  // margin-top: 1rem;
  width: 23%;

  // @include ipad {
  //   width: 48%;
  // }

  // @include spc {
  //   width: 23%;
  //   margin-top: 0;
  // }
}

.price_card-recommend {
  position: relative;
  // margin-top: 5rem;

  @include spc {
    // margin-top: 0;
  }
}

.price_card-title {
  background-color: $navyBlue;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem; //タイトルの高さ
  line-height: 2.2;
  font-weight: bold;
}

.price_card-title-recommend1 {
  background-color: $yellowOrange;
  height: 4rem; //上のおすすめの高さ
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -4rem;
  width: 100%;

  @include spc {
    margin-top: 0;
  }
}

.price_card-title-recommend2 {
  background-color: $yellowOrange;
  height: 6rem; //下のおすすめの高さ
}

.price_card-recommend-after {
  // margin-top: 5rem;

  @include spc {
    // margin-top: 0;
  }
}

.price_card-inner {
  border: 1px solid $navyBlue;
  border-top: none;
  height: 34rem;

  @include spc {

    height: 41.4rem;
  }
}

.price_card-amount {
  font-size: 2.5rem;
  line-height: 1.6;
  padding-top: 2rem;
}

.price_card-amount-recommend {
  color: $yellowOrange;
}

.price_card-monthly-text {
  margin-top: 1rem;
}

.price_card-content-text-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.price_card-content-text {
  margin-top: 1rem;
  display: inline-block;
  // position: relative;

  &::before {

    content: '';
    display: inline-block;
    position: relative;
    top: -.2em;
    margin-right: .5rem;
    width: 10px;
    height: 6px;
    border-left: 3px solid $navyBlue;
    border-bottom: 3px solid $navyBlue;
    transform: rotate(-45deg);
  }
}
