@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.4;
  }
}

h2 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 2.1rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h4 {
    font-size: 2.6rem;
  }
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h5 {
    line-height: 1.7;
  }
}

p,
.p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  p,
  .p {
    line-height: 1.7;
    font-size: 1.6rem;
  }
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
  color: #1B224C;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

ul {
  list-style: none;
}

.smallDone {
  display: block;
}

@media screen and (min-width: 1280px) {
  .smallDone {
    display: none;
  }
}

.smallNone {
  display: none;
}

@media screen and (min-width: 1280px) {
  .smallNone {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70.3125vw;
  }
}

.price_main {
  padding-bottom: 6.2rem;
}

.price_system {
  text-align: center;
}

.price_system-title {
  margin-top: 3rem;
}

@media screen and (min-width: 1280px) {
  .price_system-title {
    margin-top: 5.8rem;
  }
}

.price_system-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
}

.price_system-box {
  width: 28rem;
  height: 9rem;
  background-color: #1B224C;
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_system-plus-box {
  margin: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price_system-plus {
  display: inline-block;
  vertical-align: middle;
  color: #1B224C;
  line-height: 1;
  width: 2rem;
  height: 2px;
  background: #1B224C;
  position: relative;
}

.price_system-plus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.price_system-text {
  text-align: left;
  margin-top: 4.6rem;
}

.price_title {
  margin-top: 9rem;
  text-align: center;
}

.nav-wrap {
  position: relative;
}

.scroll-nav {
  width: 100%;
  overflow-x: auto;
}

.price_cards {
  max-width: 1280px;
  min-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 13rem;
}

.price_cards :last-child {
  padding-right: 0;
}

.price_card {
  text-align: center;
  width: 23%;
}

.price_card-recommend {
  position: relative;
}

.price_card-title {
  background-color: #1B224C;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  line-height: 2.2;
  font-weight: bold;
}

.price_card-title-recommend1 {
  background-color: #F5A623;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: -4rem;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .price_card-title-recommend1 {
    margin-top: 0;
  }
}

.price_card-title-recommend2 {
  background-color: #F5A623;
  height: 6rem;
}

.price_card-inner {
  border: 1px solid #1B224C;
  border-top: none;
  height: 34rem;
}

@media screen and (min-width: 1280px) {
  .price_card-inner {
    height: 41.4rem;
  }
}

.price_card-amount {
  font-size: 2.5rem;
  line-height: 1.6;
  padding-top: 2rem;
}

.price_card-amount-recommend {
  color: #F5A623;
}

.price_card-monthly-text {
  margin-top: 1rem;
}

.price_card-content-text-box {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price_card-content-text {
  margin-top: 1rem;
  display: inline-block;
}

.price_card-content-text::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -.2em;
  margin-right: .5rem;
  width: 10px;
  height: 6px;
  border-left: 3px solid #1B224C;
  border-bottom: 3px solid #1B224C;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=price_main.css.map */