@charset "utf-8";

@import '../share_css/style.scss';

.blog-news {
  padding: vh(670, 90) 0 vh(670, 119);
}

.blog-news-container {

  @include spc {
    display: flex;
  }
}

.blog {

  @include spc {
    width: vw(1280, 430);
  }
}

.blog_article {
  display: flex;
  padding-top: vh(670, 30);
}

.blog_article-img-box {
  position: relative;

  img {
    width: 10rem;
    height: 11rem;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    position: relative;

    @media screen and (min-width: 1000px) {
      width: vw(1280, 150);
    }
  }
}

.blog_category {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  background-color: $navyBlue;
  color: $white;
  border: 1px solid #707070;
  font-size: 1.2rem;
  padding: .4rem .7rem;
}

.blog_article-text-box {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.blog_article-title {
  flex-grow: 1;
  font-weight: bold;
}

.blog_article-date {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
}
