@charset "utf-8";

@import '../share_css/style.scss';

.example {
  background-color: $navyBlue;
  height: auto;
  padding: vh(608, 58) 0;
}

.example_container {
  max-width: 50rem;

  @include spc {
    max-width: 1600px;
  }
}

.example_title {
  text-align: center;
  color: $white;
}

.example_card-box {
  margin-top: 3rem;

  @include spc {
    margin-top: 13.7rem;
    display: flex;
    justify-content: space-between;
  }
}

.example_card-list {
  width: 100%;
  text-align: center;
  margin-top: 2rem;

  @include spc {
    width: calc(96% / 3);
    text-align: center;
    margin-top: 0;
  }
}

.example_card-item-title {
  font-weight: bold;
  line-height: 1.8;
  color: $white;
}

.example_card-item-img {
  background-color: $white;
  width: 100%;
  margin-top: 1rem;
}

.example_card-item-text-top {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.example_card-item-profession {
  width: calc(96% / 2);
  background-color: $white;
  line-height: 1.8;
  color: $navyBlue;
}

.example_card-item-name {
  width: calc(96% / 2);
  background-color: $white;
  color: $navyBlue;
}

.example_card-item-period {
  background-color: $white;
  margin-top: 1rem;
  color: $navyBlue;
}
