@charset "utf-8";

@import '../share_css/reset.scss';

.feature {
  padding: vh(608, 60) 0 vh(608, 50);
}

.feature_container {

  :nth-child(2),
  :nth-child(4) {
    flex-direction: row-reverse;
  }
}

.feature_title {
  text-align: center;
}

.feature_box {
  margin-top: 5rem;

  @include spc {
    display: flex;
    margin-top: 6rem;
  }
}

.feature_box-img {
  width: 100%;

  img {
    width: 100%;
    display: block;
    margin: 0 auto;

    @include ipad {
      width: 60%;
    }

    @include spc {
      width: vw(1280, 350);
    }
  }
}

.feature_box-text-box {
  text-align: center;

  @include spc {
    margin-right: auto;
    text-align: start;
  }
}

.feature_box-text-box2 {

  @include spc {
    margin-left: 5rem;
  }
}

.feature_box-text-box-category {
  background-color: $yellowOrange;
  text-align: center;
  padding: .5rem 0;
  width: 6rem;
  margin: 2rem auto 0;

  @include spc {
    margin: 1rem 0 0;
    width: vw(1280, 90);
    margin-top: 0;
  }
}

.feature_box-text-box-category-text {
  color: $white;
}

.feature_box-text-box-title {
  margin-top: 1rem;

  @include spc {
    margin-top: 3.5rem;
  }
}

.feature_box-text-box-text {
  margin-top: 1rem;

  @include spc {
    margin-top: 4rem;
  }
}
