@charset "utf-8";

// @import '../share_css/reset.scss';
@import '../../style.scss';


.flow {
  padding-top: vh(425, 58);
}

.flow_list-item {
  margin-top: .8rem;
  padding-bottom: 1rem;
  background-color: $moreThinGray;
  display: flex;
  flex-direction: column;

  @include spc {
    display: block;
  }
}

.flow_list-item-number-box {
  display: inline-block;
  background-color: $yellowOrange;
  width: 4rem;
  height: 4rem;

  @include spc {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.flow_list-item-number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 1.8;
  font-size: 1.6rem;

  @include spc {}
}

.flow_list-item-text-box {
  display: inline-block;
}

.flow_list-item-title {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  display: block;
  line-height: 2.2;

  @include spc {
    display: inline-block;
    border-right: 1px solid #C3C3C3;
    width: 21.4rem;
    padding-left: 2.5rem;
  }
}

.flow_list-item-text {
  line-height: 1;
  padding-left: 1rem;
  font-size: 1.4rem;
  display: block;


  @include spc {
    display: inline-block;
    line-height: 2.2;
    padding-left: 5.5rem;
    font-size: 1.6rem;
  }
}
