@charset "utf-8";

@import '../share_css/style.scss';

.news {
  margin-top: 3rem;

  @include spc {
    width: vw(1280, 430);
    margin-left: auto;
    margin-top: 0;
  }
}

.news_article {
  padding-top: 2rem;

  @include spc {
    padding-top: vh(670, 19);
  }
}

.news_article-title {
  // padding: 2rem 0 3rem;

  // @include spc {
  //   padding: vh(670, 15) 0 vh(670, 43);
  // }
}
