@charset "utf-8";

@import '../share_css/style.scss';

.breadcrumb-list-box {
  width: 100vw;
  background-color: $moreThinGray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.breadcrumb-list {
  padding: 2.5rem 0;
}

.breadcrumbs {

  color: $navyBlue;
  font-size: 1.2rem;
  font-weight: 200;
  list-style: 1.7;

  a {
    color: $navyBlue;
    text-decoration: underline;
  }
}

.breadcrumb-item:last-child {

  &::after {
    content: '';
  }
}
