@charset "utf-8";

@import '../share_css/style.scss';

.contact {
  text-align: center;
}

.contact_bg-img {
  background-image: url(../../img/cta.jpg);
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;

  @include spc {
    height: 25.1rem;
  }
}

.contact_text-title {
  color: $white;
}

.contact_circle-request-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 20rem;
  margin-top: 1rem;

  @include spc {
    height: 5rem;
    width: 28rem;
  }

  a {
    font-weight: bold;
  }
}

.contact_circle-request-btn-text {
  color: $white;
}

.contact_contact-link-text {
  margin-top: 1rem;
}

.contact_tel-contact-box {

  @include spc {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contact_tel-contact-title {
  font-weight: bold;
  margin-top: 2rem;

  @include spc {
    margin-top: 0;
    margin-right: 2rem;
  }
}

.contact_tel-contact-number {
  margin-top: 1rem;

  @include spc {
    margin-top: 0;
    margin-right: 2rem;
  }

  a {
    color: $navyBlue;
  }
}

.contact_tel-contact-hour {
  margin-top: .5rem;
  margin-bottom: 1rem;
}
