@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  /* -> 10px; */
}

body {
  font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.is-fixed {
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.3;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.4;
  }
}

h2 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 2.1rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h4 {
    font-size: 2.6rem;
  }
}

h5 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  h5 {
    line-height: 1.7;
  }
}

p,
.p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  color: #1B224C;
}

@media screen and (min-width: 1280px) {
  p,
  .p {
    line-height: 1.7;
    font-size: 1.6rem;
  }
}

small {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.7;
  color: #1B224C;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

ul {
  list-style: none;
}

.smallDone {
  display: block;
}

@media screen and (min-width: 1280px) {
  .smallDone {
    display: none;
  }
}

.smallNone {
  display: none;
}

@media screen and (min-width: 1280px) {
  .smallNone {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    width: 70.3125vw;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  background-color: #FFFFFF;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    height: 8rem;
  }
}

.header_logo {
  margin: auto 0;
  margin-left: .5rem;
}

@media screen and (min-width: 768px) {
  .header_logo {
    margin-left: 1.5rem;
  }
}

.header_logo a img {
  width: 10rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header_logo a img {
    width: 13.6rem;
    height: 2.7rem;
  }
}

.header_nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .header_nav {
    width: 100%;
  }
}

.header-sp-nav {
  width: 100%;
  max-width: 250px;
  height: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transform: translate(250px);
          transform: translate(250px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header-sp-nav.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media screen and (min-width: 1280px) {
  .header-sp-nav.open {
    -webkit-transform: translate(250px);
            transform: translate(250px);
  }
}

.header-sp-menu {
  padding-top: 8rem;
}

.header-sp-menu-link {
  display: block;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #1B224C;
}

.header-sp-menu-list {
  padding: 3rem 2rem;
  border-bottom: 1px solid #FFFFFF;
}

.header_sp-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_sp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 4rem;
  background-color: #F5A623;
  margin-left: 2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1280px) {
  .header_sp-btn {
    display: none;
  }
}

.sp-tel-box {
  text-align: center;
  margin-top: 2rem;
}

.sp-tel-number a {
  margin-left: -3rem;
}

.ham {
  width: 4em;
  height: 4em;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

@media screen and (min-width: 1280px) {
  .ham {
    display: none;
  }
}

.ham-line {
  position: absolute;
  left: 1em;
  width: 2em;
  height: 0.2em;
  background-color: #1B224C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ham-line1 {
  top: 1em;
}

.ham-line1.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 2em;
}

.ham-line2 {
  top: 1.8em;
}

.ham-line2.open {
  width: 0;
}

.ham-line3 {
  top: 2.6em;
}

.ham-line3.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 2em;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
  cursor: pointer;
}

.black-bg.open {
  opacity: .8;
  visibility: visible;
}

@media screen and (min-width: 1280px) {
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_list-item {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header_list-item {
    display: block;
    margin-left: 2.8rem;
    font-weight: bold;
    line-height: 1.8;
  }
}

.header_list-item a {
  color: #1B224C;
}

.header_right {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .tel-box {
    margin-right: 1.4rem;
  }
}

.tel-hour {
  color: #1B224C;
}

.tel-number a {
  color: #1B224C;
}

.tel-number a::before {
  content: '';
  display: inline-block;
  background-image: url(../../img/29.svg);
  background-repeat: no-repeat;
  background-position: center right;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
  margin-bottom: .3rem;
  vertical-align: middle;
}

@media screen and (min-width: 1280px) {
  .tel-number a {
    font-weight: bold;
  }
}

.header_pc-btn {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header_pc-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 14rem;
    height: 5rem;
    margin-right: 1rem;
  }
}

.square-request-btn {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: bold;
  border-radius: .5rem;
  background-color: #F5A623;
  color: #FFFFFF;
}

.contact-btn {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7;
  border-radius: .5rem;
  color: #FFFFFF;
  background-color: #1B224C;
}
/*# sourceMappingURL=header.css.map */