@charset 'utf-8';

@import '../share_css/style.scss';

.mainvisual {
  background-image: url(../../img/plan.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;

  @include ipad {
    height: vh(600, 220);
  }
}

.mainvisual_text {
  color: $white;
}
