@charset "utf-8";

@import '../share_css/style.scss';

.blog_detail_main {
  margin-top: 6rem;
}

.blog_detail_main-container {

  @include spc {
    display: flex;
    justify-content: space-between;
  }
}

.blog_detail_main-left {
  width: 100%;

  @include spc {
    width: 60%;
  }
}

.blog_detail_main-article {
  font-size: 1.8rem;
}

.blog_article-category {
  background-color: $navyBlue;
  color: $white;
  border: 1px solid #707070;
  padding: .9rem 2.5rem;
  display: inline-block;
}

.blog_article-title {
  margin-top: 3rem;
}

.blog_article-snsDate-wrapper {
  display: flex;

  a {
    margin-right: .4rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sns-btn {
  border-radius: 3px;
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.7;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

}

.blog_detail_main-like {
  background-color: #305097;
  width: 6.9rem;

}

.blog_detail_main-share {
  background-color: #305097;
  width: 4.4rem;
}

.blog_detail_main-twitter {
  background-color: #00ACED;
  width: 6.9rem;
}

.blog_article-snsDate-wrapper {
  margin-top: 2rem;
  display: flex;
}

.blog_article-date {
  margin-left: auto;
}

.blog_article-main-img {
  margin-top: 2.2rem;

  img {
    width: 100%;
  }
}

.blog_article-main-title {
  margin-top: 2rem;

  @include ipad {
    margin-top: 4rem;
  }
}

.blog_article-main-text {
  line-height: 1.5;
  margin-top: 1.5rem;

  @include ipad {
    margin-top: 3rem;
  }
}

.blog_article-sub-title {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.6rem;
  border-left: 4px solid $navyBlue;
  padding-left: 1.2rem;

  @include ipad {
    margin-top: 3.3rem;
  }

  @include spc {
    font-size: 2.2rem;
  }
}

.blog_article-sub-text {
  line-height: 1.5;
  margin-top: 1.3rem;

  @include ipad {
    margin-top: 2.7rem;
  }
}

.blog_article-quote {
  margin-top: 1.5rem;
  display: flex;
  background-color: $moreThinGray;
  padding: 1rem 0 2rem;

  @include ipad {
    margin-top: 3rem;
    padding: 2.7rem 0 4rem;
  }

  &::before {
    content: '';
    background-image: url("img/quote.svg");
    width: 2rem;
    height: 2rem;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 1rem;

    @include spc {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: -.7rem;
      margin-left: 2rem;
    }
  }
}

.blog_article-quote-text-box {
  width: 80%;
  display: flex;
  justify-content: left;

  @include ipad {
    width: 90%;
  }

  @include spc {
    padding-left: 1rem;
  }
}

.blog_article-quote-text {
  line-height: 1.5;

}

.blog_article-sub-img {
  margin-top: 3rem;

  img {
    width: 100%;

  }
}

.blog_article-list-wrapper {
  margin-top: 3rem;
}

.blog_article-list {
  position: relative;
  padding-left: 3.5rem;

  &::before {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    display: block;
    background-color: $yellowOrange;
    position: absolute;
    top: .6rem;
    left: 0;
  }
}

.blog_article-list-text {
  line-height: 1.5;
}

.blog_article-link {
  margin-top: 3rem;

  @include ipad {
    margin-top: 6rem;
  }

  a {
    line-height: 1.3;
    text-decoration: underline;
    color: $yellowOrange;
  }
}

.blog_recommend-title {
  margin-top: 3rem;

  @include ipad {
    margin-top: 6rem;
  }
}

.blog_recommend-article {
  margin-top: 3rem;

  @include ipad {
    display: flex;
    padding-top: vh(670, 30);
  }
}

.blog_recommend-article-img {
  width: 100%;
  position: relative;

  @include ipad {
    width: 21rem;
    height: 12.8rem;
  }

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    position: relative;

    @include ipad {
      width: 21rem;
      height: 12.8rem;
    }
  }
}

.blog_recommend-category {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  background-color: $navyBlue;
  color: $white;
  border: 1px solid #707070;
  font-size: 1.2rem;
  padding: .4rem .7rem;
}

.blog_recommend-article-text-box {
  display: flex;
  flex-direction: column;

  @include ipad {
    margin-left: 2rem;
  }
}

.blog_recommend-article-date {
  line-height: 1.8;
  margin-top: 1rem;

  @include ipad {
    font-size: 1.6rem;
  }

  @include spc {
    margin-top: 0;
  }
}

.blog_recommend-article-title {
  flex-grow: 1;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1rem;

  @include ipad {
    font-size: 1.8rem;
  }

  @include spc {
    margin-top: 3rem;
  }
}


.blog_detail_main-right {

  @include spc {
    width: 37%;
  }
}

.blog_sidebar {
  width: 100%;

  @include ipad {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  @include spc {
    display: block;
    width: 26.9rem;
    margin-top: 0;
  }
}

.blog_sidebar-related {
  margin-top: 3rem;

  @include ipad {
    width: 48%;
    margin-top: 0;
  }

  @include spc {
    width: 100%;
  }
}

.blog_sidebar-related-title {
  color: $white;
  background-color: $navyBlue;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  padding: 1.8rem;
}

.blog_related-first-article {
  margin-top: 2rem;

  @include spc {
    margin-top: 3rem;
  }
}

.blog_related-article {
  display: flex;
  margin-bottom: 2rem;

  @include spc {
    margin-bottom: 4rem;
  }
}

.blog_related-article-img-box {
  img {
    width: 10rem;
    height: 7rem;
  }
}

.blog_related-article-text-box {
  margin-left: 1.5rem;
}

.blog_related-article-title {
  line-height: 2;

  a {
    text-decoration: underline;
    color: $navyBlue;
  }
}

.blog_sidebar-category {

  @include ipad {
    width: 48%;
  }

  @include spc {
    width: 100%;
  }
}

.blog_sidebar-category-title {
  color: $white;
  background-color: $navyBlue;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  padding: 1.8rem;
}

.blog_sidebar-category-list-wrapper {
  list-style: inside;
}

.blog_sidebar-category-first-list {
  margin-top: 2rem;
  list-style-type: disc;

  @include spc {
    margin-top: 3rem;
  }
}

.blog_sidebar-category-list {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.8;
  margin-left: 1.5em;

  @include spc {
    line-height: 2.4;
  }
}
